<h1>Add product: </h1>

<%= form_with model: @product, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title%>
  </div>  
  <div>
    <%= form.label :description%>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price%>
    <%= form.number_field :price, step: "0.01" %>
  </div>
  <div>
    <%= form.submit "Create Product" %>
  </div>
<% end %>
